In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
original1 = pd.read_excel('raw_data/Google Vision Random Sample Report_Set1_04_2019.xls')
original1.head()

,MEDIA_ID,ID_NUMBER,MKEY,DIVISION,ITEM_NAME,IDS_DELIVERY_SERVICE_LINK
0,NMAH-ET2013-17233/1000,AF.273382A,1179468,Armed Forces History,saddle,http://ids.si.edu/ids/deliveryService?id=NMAH-...
1,NMAH-ET2012-13891/1000,AF.32698,414569,Armed Forces History,"carbine, percussion",http://ids.si.edu/ids/deliveryService?id=NMAH-...
2,NMAH-ET2010-31203-000003/1000,1985.0783.13,1300736,Armed Forces History,"pistol, flintlock",http://ids.si.edu/ids/deliveryService?id=NMAH-...
3,NMAH-AHB2016q015002/1000,2011.0086.02,1591187,Armed Forces History,cocktail napkin,http://ids.si.edu/ids/deliveryService?id=NMAH-...
4,NMAH-ET2013-15604/1000,AF.5854,457584,Armed Forces History,hat,http://ids.si.edu/ids/deliveryService?id=NMAH-...

In [3]:
original2 = pd.read_excel('raw_data/Google Vision Random Sample Report_Set2_04_2019.xls')
original2.head()

,MEDIA_ID,ID_NUMBER,MKEY,DIVISION,ITEM_NAME,IDS_DELIVERY_SERVICE_LINK
0,NMAH-JN2015-5154/1000,AF.32010,434865,Armed Forces History,sword,http://ids.si.edu/ids/deliveryService?id=NMAH-...
1,NMAH-ET2012-13907/1000,AF.67880M,881516,Armed Forces History,rifle,http://ids.si.edu/ids/deliveryService?id=NMAH-...
2,NMAH-AHB2017ps00007/1000,AF.25697,448077,Armed Forces History,sketch,http://ids.si.edu/ids/deliveryService?id=NMAH-...
3,NMAH-AHB2016q069113/1000,ZZ.RSN83554R15,1818319,Armed Forces History,"reel of electric cable, boxed",http://ids.si.edu/ids/deliveryService?id=NMAH-...
4,NMAH-AHB2014q019216/1000,2013.3101.34,1452066,Armed Forces History,photograph,http://ids.si.edu/ids/deliveryService?id=NMAH-...

In [4]:
combined_original = pd.concat([original1, original2], ignore_index=True)
combined_original.tail()

,MEDIA_ID,ID_NUMBER,MKEY,DIVISION,ITEM_NAME,IDS_DELIVERY_SERVICE_LINK
1884,NMAH-AHB2013q044200/1000,MC.314686.0227,1437632,Work and Industry,"buckle, slide",http://ids.si.edu/ids/deliveryService?id=NMAH-...
1885,NMAH-NMAH2005-18423-000001/1000,EM.328789,1288388,Work and Industry,television transmitting tube,http://ids.si.edu/ids/deliveryService?id=NMAH-...
1886,NMAH-AHB2013q045001/1000,MC.314686.0392,1438425,Work and Industry,buckle,http://ids.si.edu/ids/deliveryService?id=NMAH-...
1887,NMAH-RWS2011-03613/1000,ME.287654.11,852778,Work and Industry,"experimental disc sound recording, glass",http://ids.si.edu/ids/deliveryService?id=NMAH-...
1888,NMAH-2007-13332/1000,TR.335440,841602,Work and Industry,"lantern, hand signal",http://ids.si.edu/ids/deliveryService?id=NMAH-...

In [5]:
combined_original['MEDIA_ID'] = combined_original['IDS_DELIVERY_SERVICE_LINK'].str.split('=').str.get(1)
combined_original.head()

,MEDIA_ID,ID_NUMBER,MKEY,DIVISION,ITEM_NAME,IDS_DELIVERY_SERVICE_LINK
0,NMAH-ET2013-17233,AF.273382A,1179468,Armed Forces History,saddle,http://ids.si.edu/ids/deliveryService?id=NMAH-...
1,NMAH-ET2012-13891,AF.32698,414569,Armed Forces History,"carbine, percussion",http://ids.si.edu/ids/deliveryService?id=NMAH-...
2,NMAH-ET2010-31203-000003,1985.0783.13,1300736,Armed Forces History,"pistol, flintlock",http://ids.si.edu/ids/deliveryService?id=NMAH-...
3,NMAH-AHB2016q015002,2011.0086.02,1591187,Armed Forces History,cocktail napkin,http://ids.si.edu/ids/deliveryService?id=NMAH-...
4,NMAH-ET2013-15604,AF.5854,457584,Armed Forces History,hat,http://ids.si.edu/ids/deliveryService?id=NMAH-...

In [6]:
combined_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 6 columns):
MEDIA_ID                     1889 non-null object
ID_NUMBER                    1889 non-null object
MKEY                         1889 non-null int64
DIVISION                     1889 non-null object
ITEM_NAME                    1889 non-null object
IDS_DELIVERY_SERVICE_LINK    1889 non-null object
dtypes: int64(1), object(5)
memory usage: 88.6+ KB

In [7]:
combined_original = combined_original.drop_duplicates(subset='MEDIA_ID', keep=False)
combined_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1374 entries, 2 to 1888
Data columns (total 6 columns):
MEDIA_ID                     1374 non-null object
ID_NUMBER                    1374 non-null object
MKEY                         1374 non-null int64
DIVISION                     1374 non-null object
ITEM_NAME                    1374 non-null object
IDS_DELIVERY_SERVICE_LINK    1374 non-null object
dtypes: int64(1), object(5)
memory usage: 75.1+ KB

In [8]:
with open('google_results.json') as goog:
    google_results = json.load(goog)

In [9]:
label_results = []
for result in google_results:
    result_dict = {}
    result_dict['image_id'] = result['image_id']
    result_dict['google_api_time'] = result['elapsed_time']
    if 'label_annotations' in result:
        labels = result['label_annotations']
        for number, hit in enumerate(labels[:3], start=1):
            result_dict['google_label'+str(number)] = hit['description']
            result_dict['google_score'+str(number)] = hit['score']
    label_results.append(result_dict)
google_df = pd.DataFrame(label_results)
google_df.head()

,google_api_time,google_label1,google_label2,google_label3,google_score1,google_score2,google_score3,image_id
0,1.009376,Art,Painting,Drawing,0.785616,0.709123,0.690990,NMAH-2000-10424
1,2.587880,Clothing,Coat,Outerwear,0.979938,0.877070,0.860473,NMAH-2000-3033
2,1.592763,Cap,Yellow,Logo,0.900309,0.864945,0.851652,NMAH-2000-4144
3,1.708317,Drum,Figurine,Glass,0.582271,0.540076,0.537974,NMAH-2000-7105
4,2.030044,Font,Text,Banner,0.964119,0.928794,0.657362,NMAH-2000-7798

In [10]:
google_df['image_id'].nunique()

1554

In [11]:
google_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 8 columns):
google_api_time    1554 non-null float64
google_label1      1527 non-null object
google_label2      1451 non-null object
google_label3      1342 non-null object
google_score1      1527 non-null float64
google_score2      1451 non-null float64
google_score3      1342 non-null float64
image_id           1554 non-null object
dtypes: float64(4), object(4)
memory usage: 97.2+ KB

In [12]:
google_df.to_csv('google_top_hits.tsv', index=False, sep='\t')

In [13]:
google_df['google_api_time'].mean()

2.0624512522175737

In [14]:
google_df['google_api_time'].sum()

3205.0492459461093

In [15]:
for model in ['inception','resnet','vgg']:
    results_file = 'keras_results_{}.json'.format(model)
    with open(results_file) as file_handle:
        label_results = json.load(file_handle)
        keras_results = []
        for label_result in label_results:
            result_dict = {'image_id':label_result['image_id'],
                           model + '_time': label_result['elapsed_time']}
            labels = label_result['predictions']
            for number, hit in enumerate(labels[:3], start=1):
                result_dict['{}_label{}'.format(model, number)] = hit['label']
                result_dict['{}_score{}'.format(model, number)] = hit['confidence']
            keras_results.append(result_dict)
        keras_df = pd.DataFrame(keras_results)
        keras_df.to_csv('keras_results_{}.tsv'.format(model), index=False, sep='\t')

In [16]:
inception_df = pd.read_csv('keras_results_inception.tsv', sep='\t')
inception_df.head()

,image_id,inception_label1,inception_label2,inception_label3,inception_score1,inception_score2,inception_score3,inception_time
0,NMAH-RWS2014-02463,vase,sax,knee_pad,0.940898,2.864522e-02,5.646671e-03,5.039866
1,NMAH-AHB2017q051349,web_site,stole,sock,1.000000,2.084866e-12,4.749108e-15,0.172880
2,NMAH-AHB2016q019017,web_site,pitcher,nematode,1.000000,1.646212e-10,7.085857e-12,0.165391
3,NMAH-AHB2012q01865,web_site,toilet_tissue,sea_urchin,1.000000,0.000000e+00,0.000000e+00,0.178968
4,NMAH-JN2013-1822,web_site,pitcher,stopwatch,0.999967,3.203696e-05,1.294335e-06,0.157865

In [17]:
resnet_df = pd.read_csv('keras_results_resnet.tsv', sep='\t')
vgg_df = pd.read_csv('keras_results_vgg.tsv', sep='\t')

keras_combined = inception_df.merge(resnet_df, on='image_id').merge(vgg_df, on='image_id')
keras_combined.head()

,image_id,inception_label1,inception_label2,inception_label3,inception_score1,inception_score2,inception_score3,inception_time,resnet_label1,resnet_label2,...,resnet_score2,resnet_score3,resnet_time,vgg_label1,vgg_label2,vgg_label3,vgg_score1,vgg_score2,vgg_score3,vgg_time
0,NMAH-RWS2014-02463,vase,sax,knee_pad,0.940898,2.864522e-02,5.646671e-03,5.039866,barbershop,book_jacket,...,0.145418,0.036396,3.377318,barbershop,book_jacket,street_sign,0.150656,0.095931,0.066906,0.661116
1,NMAH-AHB2017q051349,web_site,stole,sock,1.000000,2.084866e-12,4.749108e-15,0.172880,projector,printer,...,0.301297,0.083930,0.163295,space_bar,mousetrap,typewriter_keyboard,0.155662,0.151660,0.113297,0.408447
2,NMAH-AHB2016q019017,web_site,pitcher,nematode,1.000000,1.646212e-10,7.085857e-12,0.165391,medicine_chest,sewing_machine,...,0.066207,0.063899,0.161194,oboe,bassoon,syringe,0.358869,0.103650,0.092679,0.403313
3,NMAH-AHB2012q01865,web_site,toilet_tissue,sea_urchin,1.000000,0.000000e+00,0.000000e+00,0.178968,puck,CD_player,...,0.103096,0.049230,0.162606,CD_player,hard_disc,puck,0.168662,0.124956,0.121544,0.408949
4,NMAH-JN2013-1822,web_site,pitcher,stopwatch,0.999967,3.203696e-05,1.294335e-06,0.157865,pill_bottle,whiskey_jug,...,0.012156,0.011986,0.156619,pill_bottle,perfume,saltshaker,0.723298,0.089636,0.074259,0.412242

In [18]:
keras_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 0 to 1553
Data columns (total 22 columns):
image_id            1554 non-null object
inception_label1    1554 non-null object
inception_label2    1554 non-null object
inception_label3    1554 non-null object
inception_score1    1554 non-null float64
inception_score2    1554 non-null float64
inception_score3    1554 non-null float64
inception_time      1554 non-null float64
resnet_label1       1554 non-null object
resnet_label2       1554 non-null object
resnet_label3       1554 non-null object
resnet_score1       1554 non-null float64
resnet_score2       1554 non-null float64
resnet_score3       1554 non-null float64
resnet_time         1554 non-null float64
vgg_label1          1554 non-null object
vgg_label2          1554 non-null object
vgg_label3          1554 non-null object
vgg_score1          1554 non-null float64
vgg_score2          1554 non-null float64
vgg_score3          1554 non-null float64
vgg_time            1554 non-null float64
dtypes: float64(12), object(10)
memory usage: 279.2+ KB

In [21]:
all_combined = combined_original.merge(google_df, left_on='MEDIA_ID', right_on='image_id').merge(keras_combined, on='image_id')
all_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1357 entries, 0 to 1356
Data columns (total 35 columns):
MEDIA_ID                     1357 non-null object
ID_NUMBER                    1357 non-null object
MKEY                         1357 non-null int64
DIVISION                     1357 non-null object
ITEM_NAME                    1357 non-null object
IDS_DELIVERY_SERVICE_LINK    1357 non-null object
google_api_time              1357 non-null float64
google_label1                1335 non-null object
google_label2                1260 non-null object
google_label3                1161 non-null object
google_score1                1335 non-null float64
google_score2                1260 non-null float64
google_score3                1161 non-null float64
image_id                     1357 non-null object
inception_label1             1357 non-null object
inception_label2             1357 non-null object
inception_label3             1357 non-null object
inception_score1             1357 non-null float64
inception_score2             1357 non-null float64
inception_score3             1357 non-null float64
inception_time               1357 non-null float64
resnet_label1                1357 non-null object
resnet_label2                1357 non-null object
resnet_label3                1357 non-null object
resnet_score1                1357 non-null float64
resnet_score2                1357 non-null float64
resnet_score3                1357 non-null float64
resnet_time                  1357 non-null float64
vgg_label1                   1357 non-null object
vgg_label2                   1357 non-null object
vgg_label3                   1357 non-null object
vgg_score1                   1357 non-null float64
vgg_score2                   1357 non-null float64
vgg_score3                   1357 non-null float64
vgg_time                     1357 non-null float64
dtypes: float64(16), int64(1), object(18)
memory usage: 381.7+ KB

In [23]:
all_combined.columns

Index(['MEDIA_ID', 'ID_NUMBER', 'MKEY', 'DIVISION', 'ITEM_NAME',
       'IDS_DELIVERY_SERVICE_LINK', 'google_api_time', 'google_label1',
       'google_label2', 'google_label3', 'google_score1', 'google_score2',
       'google_score3', 'image_id', 'inception_label1', 'inception_label2',
       'inception_label3', 'inception_score1', 'inception_score2',
       'inception_score3', 'inception_time', 'resnet_label1', 'resnet_label2',
       'resnet_label3', 'resnet_score1', 'resnet_score2', 'resnet_score3',
       'resnet_time', 'vgg_label1', 'vgg_label2', 'vgg_label3', 'vgg_score1',
       'vgg_score2', 'vgg_score3', 'vgg_time'],
      dtype='object')

In [25]:
all_combined['MEDIA_ID'] = '=HYPERLINK("'+ all_combined['IDS_DELIVERY_SERVICE_LINK'] +'","' + all_combined['MEDIA_ID'] + '")'
all_combined['MEDIA_ID'].head()

0    =HYPERLINK("http://ids.si.edu/ids/deliveryServ...
1    =HYPERLINK("http://ids.si.edu/ids/deliveryServ...
2    =HYPERLINK("http://ids.si.edu/ids/deliveryServ...
3    =HYPERLINK("http://ids.si.edu/ids/deliveryServ...
4    =HYPERLINK("http://ids.si.edu/ids/deliveryServ...
Name: MEDIA_ID, dtype: object

In [27]:
new_col_order = ['MEDIA_ID','ID_NUMBER','MKEY','DIVISION','ITEM_NAME',
                 'google_label1','google_score1','google_label2','google_score2','google_label3','google_score3',
                 'inception_label1','inception_score1','inception_label2','inception_score2','inception_label3','inception_score3',
                 'resnet_label1','resnet_score1','resnet_label2','resnet_score2','resnet_label3','resnet_score3',
                 'vgg_label1','vgg_score1','vgg_label2','vgg_score2','vgg_label3','vgg_score3']
excel_df = all_combined[new_col_order]
excel_df.to_excel('nmah_image_label_results.xlsx', index=False)